

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 260px auto;
    background-color: teal;
}

.container {
    width: 400px;
    height: 400px;

    box-shadow: 4px 4px 9px 4px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;

}

input{
    padding: 10px;
    width: 90%;
}